[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yandex-pgmigrate = "*"
gino = "*"
fast-arrow = {editable = true, path = "./../fast_arrow"}
tornado = "*"
"jinja2" = "*"
"psycopg2-binary" = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
